.container .tweets{
padding: 20px 20px 20px 20px;
margin: 20px 20px 20px 20px;
border: 1px solid #C0C0C0;}

.container .tweets .date{
color: #C0C0C0;
padding: 20px 20px 20px 500px;
}

.container .text{
padding: 40px 40px 40px 40px;
border-top: 1px solid 0033FF;
}